* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url("./assets/bg-texture.png");
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden
}
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
a{
  text-decoration: none ;
  color: inherit ;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}
h1 {
  font-size: 2.5rem;
  color: #e7dfdd;
  font-family: 'Patrick Hand', cursive;
}
h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #e7dfdd;
  font-family: cursive;
}
h5 {
  font-size: 0.9rem;
  color: #399cca;
  font-family: 'Patrick Hand', cursive;
  letter-spacing: 0.2em;
}
.daytext{
  color:#0e0b16
}
p {
  font-family: cursive;
  font-weight: 100;
  color: #e7dfdd;
  font-size: 0.7rem;
  margin-top: 1rem
}

.text-light {
  font-size: 0.6rem;
}

nav {
  position: fixed;
  bottom: 2vh;
  width: 100%;
  height: 4rem;
  z-index: 2;
}

.nav-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 24rem;
  height: 4rem;
  margin: auto;
  border-radius: 2rem;
  backdrop-filter: blur(150px);
}
.nav-container-daymode{
  background-color: #8bdadd;
}
.nav-container-nightmode{
  background-color: #4717f67a;
}

.nav-container>a,
.header-button {
  height: 3rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom: 1px dotted black;
  transition: transform 0.5s ease;
}
.nav-container-daymode>a{
  background-color: #72c7ca;
}
.nav-container-nightmode>a{
  background-color: #200f7c;
}
.nav-container-daymode>a .tooltiptext{
  color:#0e0b16
}
.nav-container-nightmode>a .tooltiptext{
  color: #e7dfdd;
}
.header-button .tooltiptext,nav>div>a .tooltiptext {
  opacity: 0;
  font-size: smaller;
  position: absolute;
  top: 1rem;
  z-index: 0;
  transition: all 0.5s ease;
}


nav>div>a:hover,
.header-button:hover {
  transform: scale(110%);
}
.header-button-daymode:hover{
  box-shadow: 0px 0px 15px #0e0b16;
}
.header-button-nightmode:hover{
  box-shadow: 0px 0px 15px #e7dfdd;
}

.header-button:hover .tooltiptext,
nav>div>a:hover .tooltiptext {
  opacity: 1;
  z-index: 0;
  top: 3rem;
}

.header-logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 6rem;
}
.header-button {
  top: 2rem;
  margin: auto;
  border: none;
  outline: none;
}
.header-button-daymode{
  background-color: rgb(203, 206, 40);
}
.header-button-nightmode{
  background-color: rgb(6, 21, 36);
}
.header-button-daymode .tooltiptext{
  color: #0e0b16;
}
.header-button-nightmode .tooltiptext{
  color: #e7dfdd;
}

/*Page Layouts*/
.container {
  margin: 5rem 0vw 2rem 0vw;
  padding-bottom: 6rem;
  width: 100vw;
}

.container>div {
  display: grid;
  gap: 15px;
  width: 90%;
  margin: auto;
}

.header-container {
  grid-template-areas:
    'header-title header-title header-image  '
    'header-button header-button header-image  ';
}

.about-container {
  grid-template-areas:
    'about-title about-client about-project'
    'about-experience about-client about-project'
    'about-experience about-client about-project'
    'about-experience about-client about-project'
    'about-experience about-client about-project'
    'about-experience about-client about-project'
    'about-experience about-client about-project'
    'about-experience about-client about-project'
    'about-experience about-client about-project'
  ;
}

.experience-container {
  grid-template-areas:
    'exp-title exp-title'
    'exp-frontend exp-backend';
}

.service-container {
  grid-template-areas:
    'service-title service-title service-title'
    'service1 service2 service3'
    'service1 service2 service3'
    'service1 service2 service3'
    'service1 service2 service3'
    'service1 service2 service3'
    'service1 service2 service3'
    'service1 service2 service3'
    'service1 service2 service3'
    'service1 service2 service3'
    'service1 service2 service3'
  ;
}

.contact-container {
  grid-template-areas:
    'contact-title contact-form'
    'contact-options contact-form'
    'contact-options contact-form'
    'contact-options contact-form'
    'contact-options contact-form'
    'contact-options contact-form'
    'contact-options contact-form';
}

/*Page Layouts Inner Divs*/
.container>div>div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  padding: 1.5rem;
}
.container-daymode>div>div{
  background-color: #72c7cac4;
}
.container-nightmode>div>div{
  background-color: #4717f644;
}
.header-container>div {
  justify-content: center;
  align-items: flex-start;
}

.about-container>div {
  justify-content: flex-start;
  align-items: flex-start;
}

.service-container>div {
  justify-content: flex-start;
  align-items: flex-start;
}

.contact-container>div {
  justify-content: flex-start;
  align-items: flex-start;
}

/*Page Layouts Inner Onde Div*/
.header-container>div:nth-child(1) {
  grid-area: header-title;
}

.header-container>div:nth-child(2) {
  grid-area: header-image;
  padding: 0;
}
.header-container>div:nth-child(2)>img{
  width: 18rem;
  margin: 0 auto;
}
.image-nightmode{
  filter: hue-rotate(50deg);
}
.header-container>div:nth-child(3) {
  grid-area: header-button;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.about-title {
  grid-area: about-title;
}

.about-exp {
  grid-area: about-experience;
}

.about-cli {
  grid-area: about-client;
}

.about-pro {
  grid-area: about-project;
}

.experience-title {
  grid-area: exp-title;
}

.experience-frontend {
  grid-area: exp-frontend;
}

.experience-backend {
  grid-area: exp-backend;
}

.service-title {
  grid-area: service-title;
}

.service1 {
  grid-area: service1;
}

.service2 {
  grid-area: service2;
}

.service3 {
  grid-area: service3;
}

.contact-title {
  grid-area: contact-title;
}

.contact-form {
  background-color: #4717f644;
  border-radius: 2rem;
  grid-area: contact-form;
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
}
.contact-form-nightmode{
  background-color: #4717f644;
}
.contact-form-daymode{
  background-color: #72c7cac4;
}

.contact-options {
  grid-area: contact-options;
  display: flex;
  flex-direction: row !important;
  justify-content: center;
  align-items: center;
}

/*Buttons Styles*/

.btn {
  border: none;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 40px;
  margin: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #e7dfdd;
  font-family: monospace;
  transition: all .3s;
  text-decoration: none;
}

.btn-1>span {
  position: absolute;
  background: #399cca;
}

.btn-2 {
  background: #399cca;
}

.btn-3 {
  background: #0e661d;
}

.btn-1 {
  position: relative;
  border: none;
  width: 130px;
  top: -20px;
  line-height: 40px;
  -webkit-perspective: 230px;
  perspective: 230px;
}

.btn-1 span>svg,
.btn-3>svg,
.btn-2child {
  margin-left: 0.4rem;
  font-size: 0.9rem;
}

.btn-1 span:nth-child(1) {
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.btn-1 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.btn-1:hover span:nth-child(1) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.btn-1:hover span:nth-child(2) {
  background-color: transparent;
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

.btn-2child {
  transition: all 0.5s ease;
}

.btn-2:hover .btn-2child {
  transform: translateX(2rem);
  opacity: 0;
}

.btn-2:hover {
  background: #217196;
}

.btn-3:hover {
  animation-name: tilt-shaking;
  animation-duration: 0.5s;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }

  12.5% {
    transform: rotate(5deg);
  }

  25% {
    transform: rotate(0eg);
  }

  37.5% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(0deg);
  }

  62.5% {
    transform: rotate(5deg);
  }

  75% {
    transform: rotate(0deg);
  }

  87.5% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/*Icons Styles*/
.icons-daymode {
 color:#0e5c66;
 margin-left: 0.5rem;
}
.icons-nightmode{
  color: #9c7512;
  margin-left: 0.5rem;
}

.contact-icon {
  font-size: 1.5rem;
  margin: 0 1rem;
}

.experience-container>div>h3 {
  text-align: center;
  margin-bottom: 1rem;
}

.experience-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  color: #e7dfdd;
}
.service-head {
  background: #399cca;
  width: 80%;
  padding: 1.5rem;
  border-radius: 0 0 2rem 2rem;
  transform: translate(0.5rem, -1.5rem);
  box-shadow: 0 2rem 1rem rgb(0, 0, 0, 0.1);
}
.service-head h3 {
  font-size: 1rem;
  text-align: center;
}
.service-list li {
  display: flex;
  gap: 1rem;
}
.contact-option {
  
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contact-option>div>h3{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.contact-qrcode {
  width: 12rem;
  aspect-ratio: 1/1;
}
input,
textarea {
  width: 80%;
  padding: 1rem 1.5rem;
  margin: 0.5rem 10%;
  border: 1px solid #399cca;
  outline: none;
  background: transparent;
  resize: none;
  border-radius: 1.2rem;
  color: #e7dfdd;
}

/*Media Queries*/


.about-container {
  grid-template-areas:
    'about-title about-client about-project'
    'about-experience about-client about-project'
    'about-experience about-client about-project'
    'about-experience about-client about-project'
    'about-experience about-client about-project'
    'about-experience about-client about-project'
    'about-experience about-client about-project'
    'about-experience about-client about-project'
    'about-experience about-client about-project'
  ;
}

.experience-container {
  grid-template-areas:
    'exp-title exp-title'
    'exp-frontend exp-backend';
}

.service-container {
  grid-template-areas:
    'service-title service-title service-title'
    'service1 service2 service3'
    'service1 service2 service3'
    'service1 service2 service3'
    'service1 service2 service3'
    'service1 service2 service3'
    'service1 service2 service3'
    'service1 service2 service3'
    'service1 service2 service3'
    'service1 service2 service3'
    'service1 service2 service3'
  ;
}

.contact-container {
  grid-template-areas:
    'contact-title contact-form'
    'contact-options contact-form'
    'contact-options contact-form'
    'contact-options contact-form'
    'contact-options contact-form'
    'contact-options contact-form'
    'contact-options contact-form';
}
@media screen and (max-width: 800px) {
  .header-container {
    grid-template-areas:
      'header-title'
      'header-image'
      'header-button';
  }
  .about-container {
    grid-template-areas:
      'about-title'
      'about-client'
      'about-project'
      'about-experience';
  }
  .experience-container {
    grid-template-areas:
      'exp-title'
      'exp-frontend'
      ' exp-backend';
  }
  .service-container {
    grid-template-areas:
      'service-title'
      'service-title'
      'service1'
      'service2'
      'service3'
    ;
  }
  .contact-container {
    grid-template-areas:
      'contact-title'
      'contact-form'
      'contact-options';
  }
nav>div>a:hover,
.header-button:hover {
  transform:none;
}
.header-button-daymode:hover{
  box-shadow: none;
}
.header-button-nightmode:hover{
  box-shadow: none;
}
.header-button:hover .tooltiptext,
nav>div>a:hover .tooltiptext {
  opacity: 0;
  z-index: 1;
  top: 0rem;
}


}